@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css');
@import url('https://cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 전역 CSS 변수로 폰트 & 배경색 설정 */
:root {
  --font-default: 'Iropke Batang', serif;
  --font-wedding: 'Crimson Pro', var(--font-default), serif;
  --font-parisienne: 'Parisienne', var(--font-default), serif;
  --margin-bg-color: #333; /* 배경색 변수 추가 */
  --font-pretendard: 'Pretendard Variable', var(--font-default), serif;
}

/* Tailwind 기본 스타일 설정 */
@layer base {
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--margin-bg-color);
    font-family: var(--font-default);
  }
}
